@import "../../../../variables.scss";

.form {
  display: flex;
  min-height: 24px;
}

.input {
  width: 396px;
  color: $text;
}

.button {
  background-color: $blue;
  width: 80px;
  border-radius: 0px 4px 4px 0px;
  color: white;
  border: 0;
}